<form>
   
        <label for="initial-investment">Initial Investment</label>
        <input class="input-group" type="number" id="initial-investment"  name="initial-investment">

        <label for="anual-investment">Anual Investment</label>
        <input class="input-group" type="number" id="anual-investment"  name="anual-investment">

    
        <label for="expected-return">Expected Return</label>
        <input class="input-group" type="number" id="expected-return"  name="expected-return">
    

    
        <label for="duration">Duration</label>
        <input class="input-group" type="number" id="duration"  name="duration">
   

    <button onclick="alert('Hello, ' + name)">Calcular</button>
    
</form>>